<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}"/>
</head>
<body>
<h1>List</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Student Name</th>
    </tr>
    <tr th:each="student : ${slist}">
        <td><a th:href="@{'/students/'}+${student.id}" th:text="${student.id}"></a> </td>
        <td th:text="${student.name}"></td>
    </tr>
</table>
</body>
</html>