<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="custom-content">
    <h1>Add Role.................</h1>
    <form th:object="${role}" th:action="@{/role/create}" th:method="post">
        <input type="text" required th:field="*{rolename}">
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>