<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:fragment="header">

        <meta name="description" content=""/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css"
              href="https://bootswatch.com/4/cerulean/bootstrap.min.css" />
    </head>
    <body>
        <div th:fragment="menu">
          <h1>This is Header</h1>
        </div>
    </body>
</html>