<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add Department</h1>
<span style="color:red;" th:text="${errMsg}"></span>
<span style="color:green;" th:text="${successMsg}"></span>
<form th:object="${department}" th:action="@{/}", th:method="POST">
    <input type="text" th:field="*{name}" >
    <button type="submit">Save</button>
</form>

<hr/>
<h1>Department List</h1>
<table style="width: 100%">
    <tr>
        <th>Id</th>
        <th>Department Name</th>
    </tr>
    <tr th:each="d : ${list}">
        <td th:text="${d.id}"></td>
        <td th:text="${d.name}"></td>
    </tr>
</table>

</body>
</html>