<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Topjal Inc.</title>

</head>
<body>
<header>
<div th:replace="~{fragments/header.html :: menu}"></div>
</header>
<section layout:fragment="custom-content">
    <p>Your page content goes here</p>
</section>
<footer>
    <p>My custom footer</p>
    <p layout:fragment="custom-footer">Your custom footer here</p>
    <p th:replace="~{fragments/footer.html :: foot}"></p>
</footer>
</body>
</html>